.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 15px;
}

.left {
  display: flex;
  gap: 15px;
}

.right {
  display: flex;
  gap: 15px;
}
